<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mr.pennyworth.AlfredHistorySearch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>85A59381-6764-4FB2-85B6-A19FA66C195D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6F1147F-E11B-4D6A-8929-E010779C231A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6F1147F-E11B-4D6A-8929-E010779C231A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8B5C998-33A0-46F9-8B79-7CCA3CE9070F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mr. Pennyworth</string>
	<key>description</key>
	<string>Search through Alfred's query history</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred History Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python2 search_history.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Alfred's Query History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6F1147F-E11B-4D6A-8929-E010779C231A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.clear-alfred-query-history</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>rm "$alfred_workflow_data/query-history.txt"
touch "$alfred_workflow_data/query-history.txt"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>.clear-alfred-query-history</string>
				<key>title</key>
				<string>Clear Alfred Query History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0DEE19E2-B697-463E-84C7-C0215ACB9317</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>85A59381-6764-4FB2-85B6-A19FA66C195D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application id "com.runningwithcrayons.Alfred" to search q
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A8B5C998-33A0-46F9-8B79-7CCA3CE9070F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred History Search
An [Alfred](https://alfredapp.com) workflow to search through query history,
and execute queries from history.

## Usage
Download the [latest release][1]

#### Searching Through Query History
 - Assign hotkey trigger (`⌃R` recommended)
 - While using Alfred, press the hotkey. Alfred's query history will show up:
   ![](images/screenshot.png)
 - Start typing to search through the query history.
   ![](images/screenshot-2.png)
 - Actioning any of the history entries makes Alfred search that query.
   ![](images/screenshot-3.png)

#### Deleting Query History
Type `.clear-alfred-query-history` in Alfred.


## Icon Credits
Icon created by combining icons form [flaticon](https://www.flaticon.com)
made by [Freepik](https://www.flaticon.com/authors/freepik)
and [Pixel Perfect](https://www.flaticon.com/authors/pixel-perfect)

[1]: https://github.com/mr-pennyworth/alfred-history-search/releases/latest/download/Alfred.History.Search.alfredworkflow
</string>
	<key>uidata</key>
	<dict>
		<key>0DEE19E2-B697-463E-84C7-C0215ACB9317</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>85A59381-6764-4FB2-85B6-A19FA66C195D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A6F1147F-E11B-4D6A-8929-E010779C231A</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A8B5C998-33A0-46F9-8B79-7CCA3CE9070F</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/mr-pennyworth/alfred-history-search#readme</string>
</dict>
</plist>
